.deps-todo-item {
  width: 100%;
  @include flexCol(stretch, stretch);
  row-gap: 16px;
  .one-deps-todo-item {
    border: 1px solid rgba($gray, 1);
    padding: 8px;
    border-radius: 8px;

    .two-deps-todo-item {
      padding: 4px 0 0 8px;
    }
  }
}
