.default-todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #e9e9ec;
  padding: 8px;
  border-radius: 8px;

  .todo-item {
    display: flex;
    align-items: center;
    column-gap: 8px;

    .check-box {
      width: 16px;
      height: 16px;
      cursor: pointer;
      border: 1px solid #e9e9ec;
      border-radius: 4px;

      .check-image {
        width: 16px;
      }
    }

    .todo-text {
      font-size: 14px;
    }
  }

  .todo-item-edit-input {
    width: 100%;
    display: flex;
    column-gap: 8px;

    .input-area {
      flex: 1;
    }
  }

  .control-todo-item {
    display: flex;
    column-gap: 8px;
  }
}