.user-profile {
  display: flex;
  column-gap: 8px;
  padding: 8px;

  .user-profile-area {
    width: 100%;
    @include flexRow(space-between, flex-start);
    .user-information {
      @include flexRow(flex-start, center);
      column-gap: 8px;
    }
  }

  .user-image {
    width: 32px;
    height: 32px;
    border-radius: 32px;
  }
}